---
import { Button } from "../ui/button";
---

<div class="grid grid-cols-2 gap-x-24 items-center py-16">
  <div class="flex flex-col">
    <span class="font-bold text-xl text-muted-foreground">DOMICILIOS</span>
    <h2 class="text-5xl font-bold mt-10">
      Un mercado de calidad a la puerta de tu casa
    </h2>
    <p class="text-xl text-muted-foreground mt-4 pr-4">
      Por compras superiores a $50.00 tu domicilio es completamente GRATIS
    </p>
    <Button className="w-fit mt-12 py-6 px-6 text-lg">Ir a comprar</Button>
  </div>
  <div>
    <img src="/assets/img/address-details.png" alt="">
  </div>
</div>
