---
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Surtifruver el Mono">
  <div
    class="absolute w-full h-full -top-1/4 bg-primary blur-3xl"
  >
  </div>
  <div
    class="absolute left-0 top-0 bg-background/80 w-full h-full"
  >
  </div>
  </div>
</PageLayout>
